@font-face {
    font-family: Pompadur;
    src: url(fonts/font1.ttf); 
   }
@font-face {
    font-family: Pixel;
    src: url(fonts/font2.ttf); 
   }
html,body{
margin:0;
width: 100%;
height: 100%;
}
main{
max-width: 1000px;
margin: 0 auto;
height:98%;
-webkit-box-shadow: 0px 0px 36px 13px rgba(133,133,133,1);
-moz-box-shadow: 0px 0px 36px 13px rgba(133,133,133,1);
box-shadow: 0px 0px 36px 13px rgba(133,133,133,1);
}
header{
height: 200px;
background-image: url("/images/back.gif");
    background-position: 0 -164px;
}
header p{
font-size: 30px;
font-family: Pompadur, 'Comic Sans MS', cursive;
text-align: center;
color: white;
margin: 0;
line-height: 65px;
}
nav {
    width:100%;
    height: 35px;
    background-color: #3A3A3A;
    margin-top: 36px;
}
button:hover {
    cursor:pointer;
    border: 1px solid #9AC;
    color: #9AC;
}
button:focus{outline:none;}
nav button {
    font-family: Pixel;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    height: 34px;
    width: 247px;
    font-size: 16px;
}
.photo{
width: 130px;
    height: 195px;
   background-image: url("/images/meb.jpg"); 
    -webkit-box-shadow: 0px 0px 36px -2px rgba(133,133,133,1);
-moz-box-shadow: 0px 0px 36px -2px rgba(133,133,133,1);
box-shadow: 0px 0px 36px -2px rgba(133,133,133,1);

}
.photo:hover{
width: 130px;
    height: 195px;
   background-image: url("/images/mec.jpg"); 
    -webkit-box-shadow: 0px 0px 36px -2px rgba(133,133,133,1);
-moz-box-shadow: 0px 0px 36px -2px rgba(133,133,133,1);
box-shadow: 0px 0px 36px -2px rgba(133,133,133,1);

}